:root {
    /* Primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* Neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    font-size: 14px;
    background-color: var(--Cream);
}
* {
    box-sizing: border-box;
}
p {
    font-family: 'Montserrat', sans-serif;
    color:var( --Dark-grayish-blue);
    font-weight: 700;
    line-height: 1.7;
}
.page {
    min-height: 100vh;
    position: relative;
}
.page .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    width: 650px;
}
.page .container .img-box {
    width: 350px;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.page .container .text {
    flex-basis: 50%;
    padding: 35px;
}
.page .container .text .title {
    font-family: 'Montserrat', sans-serif;
    color:var( --Dark-grayish-blue);
    text-transform:uppercase;
    letter-spacing: 5px;
}
.page .container .text h1 {
    font-family: 'Fraunces', serif;
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 35px;
    margin: 15px 0;
    line-height: 1;
}

.page .container .text .price {
    display: flex;
    align-items: center;
}
.page .container .text .price span:first-child {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    color:var(--Dark-cyan);
    margin-right: 20px;
}
.page .container .text .price span:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    color:var( --Dark-grayish-blue);
    text-decoration: line-through;
}
.page .container button {
    width: 100%;
    height: 50px;
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
.page .container button img {
    margin-right: 10px;
}

@media (max-width:767px) {
    .page {
        padding: 30px 15px;
    }
    .page .container {
        flex-direction: column;
        width: 100%;
        position: static;
        transform: none;
    }
    .page .container .img-box  {
        height: 250px;
        width: 100%;
        background-image: url(images/image-product-mobile.jpg);
    }
    .page .container .text h1 {
        font-size: 30px;
    }
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}